*{
    box-sizing: border-box;
}

.header{
    background-color: #0073B1;
    width: 100%;
    height: 10%;
    padding: 5px;
    display: flex;
    min-width: 400px;
}

.logo{
    height: 100%;
    width: 20%;
    color: white;
    /* text-align: center; */
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo p {
    /* width: 100%;
    height: 100%; */
    font-size: 25px;
    margin: 0;
}

.signIn_signUp_container{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    color: white;
    align-items: center;
    justify-content: right;
    padding: 1%;
}

.signIn_signUp_container p {
    /* margin: 0 auto; */
    /* padding: 0 1%; */
    margin: 0;
    padding: 0 1%;
}

.signIn_signUp_container p:hover{
    text-decoration: underline;
    color: #F865AA;
    cursor: pointer;
}

