.popup{
    width: 40%;
    height: 60%;
    position: absolute;
    background-color: #0073B1;
    opacity: 0.9;
    left: 30%;
    top: 20%;
    border-radius: 7px;
}

.signUp-container{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1%;
    /* display: flex;
    flex-direction: column; */
}

.signUp-container-header{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
}

.signUp-container-header span{
    position: absolute;
    right: 2%;
    top: 2%;
    color: white;
}

.signUp-container-header span:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: black;
}

.signUp-container-header h1{
    margin: 0;
}

.form{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signUp-container input {
    border-radius: 7px;
    width: 70%;
    height: 11%;
    border: none;
    padding: 2%;
    margin: 1%;
}

.signUp-container input:focus{
    outline: none;
}

.form p {
    margin: 0;
    font-size: 10px;
    color: white;
}

.btn{
    width: 35%;
    height: 13%;
    color: #0073B1;
    /* margin: 2%; */
    border-radius: 10px;
    border: none;
    margin-top: 3%;
    padding: 2%;
    
}

.btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.signUp-container-footer{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp-container-footer p {
    margin: 0;
    color: white;
}

.signUp-container-footer p:hover{
    text-decoration: underline;
    cursor: pointer;
}