
@import '../../styles/variables';

.sidebar{
    padding:0;
}

.sidebarWrapper{
    padding:.5rem;
}

.sidebarList{
    padding:1rem 1.5rem;
    list-style: none;
    border-radius: $radius;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: .5rem 0;
    height: 44vmin;

    .sidebarListItem{
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        cursor: pointer;
    }
    .sidebarIcon{
        margin-right:1.1rem;
        font-size:1.5rem;
        color:rgba(30, 37, 107, 0.9);
        cursor: pointer;
    }
    .sidebarListItemText{
        font-size:1rem;
        color:rgba(20, 27, 94, 0.9);
        font-weight: 500;
    }
}

.sidebarHr{
    margin:.6rem 0;
}

.sidebarUserWrapper{
    width:100%;
    color:rgba(27, 27, 75, 1);
    border-radius: $radius;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    .sidebarUserTitle{
        text-align:center;
        padding:.5rem 0;
    }
}

.sidebarFriendWrapper{
overflow-y: scroll;
height:100vh;
}
.sidebarFriendList{
    padding:0;
    margin:0;
    list-style: none;
}

::-webkit-scrollbar{
    width:6px;
    cursor:pointer;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(140, 138, 179, 0.705);
    border-radius:10%;
    cursor:pointer;
}

.sidebarFriend{
    display: flex;
    align-items:center;
    margin-bottom: .9rem;
}

.profileImgContainer{
position: relative;

.sidebarProfileImg{
    max-width: 6vmin;
    max-height: 6vmin;
    border-radius:50%;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    margin-right: .5rem;
}
.profileOnline{
    width: .7rem;
    height: .7rem;
    border-radius:50%;
    background-color:rgb(40, 143, 40);
    position:absolute;
    top: -2px;
    right:0;
    border:1px solid white;
}
}
.sidebarUserName{
    font-weight: 500;
}