.post{
    width:100%;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 1rem 0;
}

.postWrapper{
    padding:.7rem;
}

.postTop{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.postTopLeft{
    display:flex;
    align-items:center;
    justify-content:space-between;

.postProfileImg{
    max-width: 7vmin;
    max-height: 7vmin;
    border-radius:50%;
    object-fit: cover;
}

.postuserUsername{
    font-size:1rem;
    color:rgb(49, 49, 49);
    font-weight: 500;
    margin:0 .8rem;
}
.postDate{
    font-size: .8rem;
    color:rgb(88, 88, 88);
}
}

.postCenter{
    margin:1rem 0;
}

.postImg{
    margin-top: .7rem;
    width: 100%;
    max-height: 50vmin;
    object-fit: cover;
}

.postButton{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.postButtonLeft{
    display:flex;
    align-items:center;
    justify-content: space-between;


.likeIcon{
    font-size:1.5rem;
    color:rgb(53, 33, 33);
    cursor: pointer;
    margin-right: 1.5rem;
}
.postlikeCounter{
    font-size: 1rem;
    color:rgb(43, 40, 40);
}
}

.postCommentText{
    cursor: pointer;
    font-size: 1rem;
    color:rgb(43, 40, 40);
}