
a{
    text-decoration: none;
}

.loginWrapper{
    width:100%;
    height:100%;
    display:flex;
    background: linear-gradient(rgba(16, 17, 49, 1),rgba(28, 55, 211, 0.897));
    border-radius:1.5rem;
    -webkit-box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.68);
}

.loginLeft{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    background-position: center;
    object-fit: cover;
    border-bottom-left-radius: 1.5rem;
    border-top-left-radius: 1.5rem;

    .loginLogo{
        font-size: 2.4rem;
        color:white;
        line-height: 2.3rem;
        font-weight: 800;
        cursor:pointer;
        text-decoration: none;
        letter-spacing:1px;
        margin-bottom: 1rem;
        text-shadow: 
            -0.0075em 0.0075em 0 mix(#fff, #e91e63, 94%),
            0.005em 0.005em 0 mix(#fff, #e91e63, 60%),
            0.01em 0.01em 0 mix(#fff, #e91e63, 62%), 
            0.015em 0.015em mix(#fff, #e91e63, 64%), 
            0.02em 0.02em 0 mix(#fff, #e91e63, 66%), 
            0.025em 0.025em 0 mix(#fff, #e91e63, 68%),
            0.03em 0.03em 0 mix(#fff, #e91e63, 70%),
            0.035em 0.035em 0 mix(#fff, #e91e63, 72%);
    }
    .loginDesc{
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.8rem;
        color:white;
        text-align: center;
        letter-spacing:1px;
        padding: .5rem;
        text-shadow: 
            -0.0075em 0.0075em 0 mix(#fff, #02399e, 94%),
            0.005em 0.005em 0 mix(#fff, #3e4fac, 60%),
            0.01em 0.01em 0 mix(#fff, #071355, 62%), 
            0.015em 0.015em mix(#fff, #273688e7, 64%), 
            0.02em 0.02em 0 mix(#fff, #071355, 66%), 
            0.025em 0.025em 0 mix(#fff, #1b2769, 68%),
            0.03em 0.03em 0 mix(#fff, #253383, 70%),
            0.035em 0.035em 0 mix(#fff, #071355, 72%);
    }
   }

.loginRight {
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:.3rem;

    .loginBox{
        height: 80%;
        padding:1rem;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }
    
    .loginInput{
        height: 2.5rem;
        width:80%;
        border-radius:.6rem;
        border:1px solid grey;
        font-size: 1.1rem;
        padding-left:.7rem;
        color:grey;
        font-weight: 500;
        box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.68);
    
        &:focus{
            outline: none;
        }
    }
    .loginButton{
        padding: .5rem;
        margin-top:0.5rem;
        width:50%;
        border: 2px solid rgba(47, 53, 88, 0.8);
        background-color: rgba(47, 53, 88, 0.8);
        color:white;
        text-shadow: #4a59ad;
        border-radius:.5rem;
        font-size: 1rem;;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 0px 16px -5px rgba(245, 245, 245, 0.5);

        &:hover{
            background-color: white ;
            color:rgba(47, 53, 88, 0.8);
            text-shadow: #5362b4;
            font-weight: 700;
            box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.7);
            transition:background-color 0.3s linear, color 0.5s ease-in-out;
            border: 2px solid rgba(223, 225, 233, 0.781);
        }
    }

    .loginButtonContainer{
        display:flex;
        flex-direction: column;
        align-items:center;
        width: 50%;
        margin-top:1rem;

        .loginForgot{
            text-align: center;
            text-shadow: #f0f2f5;
            color:#b0cbfd;
        }
    
        .loginRegisterButton{
            padding: .4rem .5rem;
            border: 2px solid rgba(223, 225, 233, 0.4);
            background-color: rgba(223, 225, 233, 0.4);
            color:rgb(52, 48, 99);
            text-shadow: #f8f8fa;
            border-radius:.5rem;
            font-size: 1rem;;
            font-weight: 500;
            cursor: pointer;
            box-shadow: 0px 0px 16px -5px rgba(0, 0, 0, 0.6);

            &:hover{
            border: 2px solid rgba(223, 225, 233, 0.781);
            background-color: rgba(223, 225, 233, 0.4);
            font-weight: 600;
            transition:border 0.3s ease, color 0.6s linear;
            }
        }
    }
}


