
.loading {
    text-align: center;
  }
.title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .underline {
    width: 6rem;
    height: 0.25rem;
    background: var(--clr-primary-5);
    margin-left: auto;
    margin-right: auto;
  }
  
  .single-tour {
    background: var(--clr-white);
    border-radius: var(--radius);
    margin: 1.5rem 0.5rem;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
  }
  .single-tour:hover {
    box-shadow: var(--dark-shadow);
  }
  .single-tour img {
    width: 100%;
    height: 10rem;
    padding:1.5rem;
    object-fit: scale-down;
    margin:.5rem auto;
    border-top-right-radius: var(--radius);
    border-top-left-radius: var(--radius);
  }
  .company-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: .5rem;
  }
  .company-info a{
    text-decoration: none;
    color: var(--clr-primary-1)
  }
  .company-info a:hover,
  .company-info a:active{
    text-decoration: none;
    color: var(--clr-primary-5)
  }
  .company-info h4 {
    font-weight: 700;
  }
  .company-info h6 {
    color: var(--clr-primary-2);
    cursor: pointer;
    padding-left: 0.25rem;
  }
  .company-info p{
    font-weight: 600;
    color:var(--clr-primary-5);
    cursor: pointer;
  }
  .single-tour button {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: var(--clr-primary-5);
    font-size: 1rem;
    cursor: pointer;
    padding-left: 0.25rem;
  }
  .company-price {
    color: var(--clr-primary-5);
    background: var(--clr-primary-10);
    border-radius: var(--radius);
    font-size:.8rem;
  }
  .single-tour footer {
    padding: 1.5rem 2rem;
  }
  .single-tour .delete-btn {
    display: block;
    width: 200px;
    font-size: .9rem;
    font-weight:700;
    margin: 1rem auto 0 auto;
    color: var(--clr-grey-6);
    letter-spacing: var(--spacing);
    background: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
  }
  
  .single-tour .accept-btn {
    display: block;
    align-items: center;
    width: 200px;
    font-size: 1rem;
    font-weight:700;
    margin: 1rem auto 0 auto;
    color: var(--clr-primary-6);
    letter-spacing: var(--spacing);
    background: transparent;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius);
  }
  
  .accept-btn:hover,
  .accept-btn:active{
    color: var(--clr-green-dark);
    transition: var(--transition);
  }
  
  .delete-btn:hover,
  .delete-btn:active{
    color: var(--clr-red-dark);
    transition: var(--transition);
  }
  
  .interest-btn{
    display:flex;
    justify-content: center;
    font-weight: 700;
  }

  .show-btn{
    border:inherit;
    color:var(--clr-primary-7);
    font-size: .8rem;
  }

  .show-btn:hover,
  .show-btn:active{
    border:inherit;
    color:var(--clr-primary-4);
  }

  .description-info > *{
    color:var(--clr-grey-2);
    font-style: 1rem;
    font-weight: 400;
    text-decoration: none;
    display: inline;
  }
